:root {
    color: hsl(200, 60%, 99%);
    
    --couleur--rouge: hsl(3, 71%, 56%);
    --couleur--rouge-pale:hsl(3, 77%, 44%);
    --couleur--bleu: hsl(226, 25%, 17%);
    --couleur--bleu-pale: hsl(226, 11%, 37%);
    --couleur--blanc: hsl(200, 60%, 99%);
    --couleur--blanc-pale: hsl(217, 61%, 90%);
}
.body_couleur_light_mode {
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}
.body_couleur_dark_mode {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
}
.section_couleur_light_mode {
    background-color:var(--couleur--blanc-pale);
}
.section_couleur_dark_mode {
    background-color:hsl(226, 25%, 17%);
}
.barre_haut__btn-pale {
    width: 45px;
    height: 45px;
    background-color: var(--couleur-bleu--pale);
    border: .8px solid white;
}
.texte_noir {
    color: var(--couleur--bleu);
}
.texte_blanc {
    color: var(--couleur--blanc);
}
